/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
@media screen {(min-width: 400px;)
    .re{
        flex-direction: row-reverse;
    }
    
}

/* comon tage */
body{
    font-family: 'Roboto', sans-serif;
}
.navbar-light .navbar-nav .nav-link {
    color:#3C3C3C;
    font-weight: 500;
}
.dropdown-menu {
    border: none;
    color:#3C3C3C;
    font-weight: 500;
    
}
.nike-c{
    color:#FA804C;
    font-family: 'Bebas Neue', cursive;
}
.nike-co{
    color: #363958;
    font-family: 'Bebas Neue', cursive;
}
.cat-bg{
    background: #F1F1F1;
}
.b-r{
    border-radius: 15px;
}
.nike-p{
    color: #FA804C;
    ;
}
@media (max-width: 576px){
    .text-m{
        text-align: center;
    }
}